.card_info {
  box-shadow: 0 0 10px #ccc;
  background-color: rgba(250, 250, 250, 0.9);
  width: 650px;
  height: 10em;
  border-radius: 7px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
 
}

.city_temp{
  align-items: center;
}
.city_name {
  color: #222222;
  padding-top: 10px;
  padding-left: 10px;

}
/* .weather-icon{
  width: 90px;
  margin-left: 10px;
  
} */


.city_temp > h1 {
  color: #222222;
  padding-top: 20px;
 
}
.city_temp > h4 {
  color: #222222;
  padding-top: 10px;

 
}

.cards {
    
  align-items: center;
  border: 3px;
  
  margin-top: 15px;
  display: flex;
  margin-left: 10px;

}



@media screen and (min-width:769px){

  .card_info {
    box-shadow: 0 0 10px #ccc;
    background-color: rgba(250, 250, 250, 0.9);
    width: 500px;
    height: 13em;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    
  }

 
  .cards {
    
    align-items: center;
    border: 3px;
    
    margin-top: 15px;
    display: flex;
    margin-left: 10px;
  
  } 
  .city_temp > h1 {
    color: #222222;
    padding-top: 30px;
    font-size: 30px;
   
  }
  .city_temp > h4 {
    color: #222222;
    padding-top: 20px;
    font-size: 20px;
  
   
  }

}

@media screen and (min-width:414px) and (max-width:768px){

  .card_info {
    box-shadow: 0 0 10px #ccc;
    background-color: rgba(250, 250, 250, 0.9);
    width: 390px;
    height: 13em;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
   
  }

  .cards {
    
    align-items: center;
    border: 3px;
    
    margin-top: 15px;
    display: flex;
    margin-left: 5px;
  } 
  .city_temp > h1 {
    color: #222222;
    padding-top: 30px;
    font-size: 20px;
   
  }
  .city_temp > h4 {
    color: #222222;
    padding-top: 20px;
    font-size: 14px;
  
   
  }


}