.weatherCard {
  color: rgba(5, 5, 8, 0.678);
  box-shadow: 0 0 10px #ccc;
  background-color: lightgray;
  justify-content: center;
  margin-top: 10px;
  border: none;
  padding-bottom: 5px;
  border-radius: 10px;
  padding-top: 10px;
  width: 190px;
 
}

.weekday {
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
  color: rgba(5, 5, 8, 0.678);

  font-family: "Poppins", sans-serif;
}

.minTemp,
.maxTemp {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgba(5, 5, 8, 0.678);
  margin-left: 20px;
}

.forecastTitle {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 10px;
}


